@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
div:focus,
button:focus {
  outline: none;
}

.pagination {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
}

.pagination a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #697488;
  border-radius: 2px;
}


.page-active a{
  background: #1EA4CE;
  color: #FFFFFF;
}

.next-page path:hover {
  fill: #1EA4CE;
}
.prev-page path:hover {
  fill: #1EA4CE;
}